{%- if settings.show_payment_methods -%}
    {%- capture payment_methods -%}
      {%- for type in shop.enabled_payment_types -%}
      	<li class="HorizontalList__Item">{{ type | payment_type_svg_tag }}</li>
      {%- endfor -%}
    {%- endcapture -%}

    {%- if payment_methods != blank -%}
      <div class="wrapper">
        <h4>Guaranteed Safe &amp; Secure Checkout </h4>
        <ul class="payment-icons-left HorizontalList">
          {{ payment_methods }}
        </ul>
      </div>
    {%- endif -%}
  {%- endif -%}