{{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
{{ 'jquery.products.min.js' | asset_url | script_tag }}
<section class="content">
  <div class="container">
    <h2 class="text-left text-uppercase title-under">Recently Viewed Products</h2>
    <div id="recently-viewed-products" class="row" style="display:none">
    </div>
  </div>
</section>

{% raw %}
      <script id="recently-viewed-product-template"  type="text/x-jquery-tmpl">
      <div id="product-${handle}" class="col-xs-6 col-sm-3 col-md-2">
        <div class="image product__inside__image">
          <a href="${url}">
            <img src="${Shopify.Products.resizeImage(featured_image, "medium")}" />
          </a>
        </div>
        <div class="details">
          <div class="product__inside__name">
              <h2 class="product_title">
                  <a href="${url}">${title}</a>
              </h2>
          </div>
          <div class="product__inside__price price-box">
              <span class="price">{{if price_varies}}From {{/if}}${Shopify.formatMoney(price)}</span>
          </div>
        </div>
      </div>
      </script>
{% endraw %}

<script>
Shopify.Products.showRecentlyViewed( { howManyToShow:6 } );
</script>