<div class="container" style="max-width:600px;width:100%;">
  <div class="my-3" style="margin-bottom: -200px;z-index: 10000;position: relative;">
    <img src="{{ 'banner9.jpg' | file_img_url: 'master' }}" style="width:100%;">
  </div>
  <div>
    <div id="kingsumo-embed" data-url="https://kingsumo.com/g/tyhu6x/enter-to-win-a-nordic-lifting-fuego-x9-massage-gun"></div>
    <script src="https://kingsumo.com/js/embed.js"></script>
  </div>
  <div class="my-3" style="margin-top: -100px;z-index: 10000;position: relative;"><img src="{{ 'footer_02.jpg' | file_img_url: 'master' }}" style="width:100%;"></div>
</div>