<style>
  body.page-lp { max-width: 100%; }
  .lp-icon-react i { color: #6882a6; }
  .lp-icon-react .fa-arrow-down { color: #f43631; }
  .page-lp .pushowl-optin{display:none;}
</style>
<div class="container">
  <input type="hidden" class="page-temp" value="{{template.name}}"/>
  <input type="hidden" class="page-handle" value="{{page.handle}}"/>
  {{ page.content }}
</div>